In [2]:
# Dummy Dataset
dataset = [
    ['Malik','Onion','Nutmeg','Kidney Beans','Eggs','Yougurt'],
    ['Dill','Onion','Nutmeg','Kidney Beans','Eggs','Yougurt'],
    ['Malik','Apple','Kidney Beans','Eggs'],
    ['Malik','Unicon','Corn','Kidney Beans','Yougurt'],
    ['Corn','Onion','Onion','Ice Cream','Eggs'] 
]

In [3]:
import pandas as pd
from mlxtend.preprocessing import TransactionEncoder #(It is help for encoding)

In [4]:
te = TransactionEncoder()

In [5]:
te_array = te.fit(dataset).transform(dataset)

In [6]:
te_array

array([[False, False, False,  True, False,  True,  True,  True,  True,
        False,  True],
       [False, False,  True,  True, False,  True, False,  True,  True,
        False,  True],
       [ True, False, False,  True, False,  True,  True, False, False,
        False, False],
       [False,  True, False, False, False,  True,  True, False, False,
         True,  True],
       [False,  True, False,  True,  True, False, False, False,  True,
        False, False]])

In [7]:
te.columns_

['Apple',
 'Corn',
 'Dill',
 'Eggs',
 'Ice Cream',
 'Kidney Beans',
 'Malik',
 'Nutmeg',
 'Onion',
 'Unicon',
 'Yougurt']

In [8]:
df = pd.DataFrame(te_array, columns=te.columns_)

In [9]:
df

   Apple   Corn   Dill   Eggs  Ice Cream  ...  Malik  Nutmeg  Onion  Unicon  Yougurt
0  False  False  False   True      False  ...   True    True   True   False     True
1  False  False   True   True      False  ...  False    True   True   False     True
2   True  False  False   True      False  ...   True   False  False   False    False
3  False   True  False  False      False  ...   True   False  False    True     True
4  False   True  False   True       True  ...  False   False   True   False    False

[5 rows x 11 columns]

In [10]:
from mlxtend.frequent_patterns import apriori

In [11]:
apriori(df, min_support=0.6)

   support itemsets
0      0.8      (3)
1      0.8      (5)
2      0.6      (6)
3      0.6      (8)
4      0.6     (10)
5      0.6   (3, 5)
6      0.6   (8, 3)
7      0.6   (5, 6)
8      0.6  (10, 5)

In [12]:
apriori(df, min_support=0.6, use_colnames=True)

   support                 itemsets
0      0.8                   (Eggs)
1      0.8           (Kidney Beans)
2      0.6                  (Malik)
3      0.6                  (Onion)
4      0.6                (Yougurt)
5      0.6     (Kidney Beans, Eggs)
6      0.6            (Onion, Eggs)
7      0.6    (Malik, Kidney Beans)
8      0.6  (Kidney Beans, Yougurt)